<div class="slider_wrapper">
    <div id="min-slider" class="min-slider ">
        <div class="min_history-slide">
            <img src="%=static=%/img/content/sliderV/1.jpg" alt="">
            <div class="blackD"></div>
        </div>
        <div class="min_history-slide">
            <img src="%=static=%/img/content/sliderV/2.jpg" alt="">
            <div class="blackD"></div>
        </div>
        <div class="min_history-slide">
            <img src="%=static=%/img/content/sliderV/3.jpg" alt="">
            <div class="blackD"></div>
        </div>
        <div class="min_history-slide">
            <img src="%=static=%/img/content/sliderV/4.jpg" alt="">
            <div class="blackD"></div>
        </div>
        <div class="min_history-slide">
            <img src="%=static=%/img/content/sliderV/5.jpg" alt="">
            <div class="blackD"></div>
        </div>
    </div>
    <div id="big-slider" class="big-slider">
        <div class="big_history-slide">
            <img src="%=static=%/img/content/sliderV/1.jpg" alt="">
        </div>
        <div class="big_history-slide">
            <img src="%=static=%/img/content/sliderV/2.jpg" alt="">
        </div>
        <div class="big_history-slide">
            <img src="%=static=%/img/content/sliderV/3.jpg" alt="">
        </div>
        <div class="big_history-slide">
            <img src="%=static=%/img/content/sliderV/4.jpg" alt="">
        </div>
        <div class="big_history-slide">
            <img src="%=static=%/img/content/sliderV/5.jpg" alt="">
        </div>
    </div>

</div>
<div class="history_info">
    <div class="date">
        <span class="date1">08</span>
        <span class="date2">Травня</span>
    </div>
    <div class="text">
        <p class="text1">Ми приділили увагу стильному сучасному озелененню території. Завдякі правильно підібраним рослинам, яскраво і затишно.</p>
    </div>
</div>



<script id='minSl' type="text/x-jquery-tmpl">
    <div class="min_history-slide">
        <img src="%=static=%/img/content/sliderV/1.jpg" alt="">
        <div class="blackD"></div>
    </div>
</script>


<script id='maxSl' type="text/x-jquery-tmpl">
    <div class="big_history-slide">
        <img src="%=static=%/img/content/sliderV/1.jpg" alt="">
    </div>
</script>