<div class="up_btn">
    <span></span>
</div>
<footer class="footer">
    <div class="logo-part">
        <div class="logo"></div>

    </div>
    <div class="info-part">
        <div class="info_text">
            <div class="copy">
                <div class="copiright">&#169; 2018 Millennium State. Всі права захищені.</div>
                <a class="confident">Політика конфіденційності</a>

            </div>
            <!--<div class="footer_cont">-->
            <!--<a href="#" class="phone">8 (800) 500 50 50</a>-->
            <!--<a href="#" class="mail">emailaddress@mail.com</a>-->
            <!--</div>-->
        </div>
        <div class="info_link">
            <div class="social">
                <a class="social-elem fb">f</a>
                <a class="social-elem in">in</a>
            </div>
            <a class="by_facility"></a>
        </div>
    </div>





    <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    <script src="%=static=%js/separate-js/main.js"></script>
</footer>

