<div class="max_filter active">
    <a href="./genplan.html" class="back_to-plans"><span></span> до генeрального плану</a>
    <h5 class="screen_header">Вибір планування</h5>

    <div class="filter_section">
        <p class="filter_head-text">Секція:</p>
        <div class="filter_grid">
            <button class="elem active" data-section="1">
                <span>А</span>
            </button>
            <button class="elem" data-section="2">
                <span>Б</span>
            </button>
            <button class="elem" data-section="3">
                <span>В</span>
            </button>
            <button class="elem" data-section="4">
                <span>Г</span>
            </button>
            <button class="elem" data-section="5">
                <span>Д</span>
            </button>
            <button class="elem" data-section="6">
                <span>Е</span>
            </button>
            <button class="elem" data-section="7">
                <span>Ж</span>
            </button>
            <button class="elem" data-section="8">
                <span>З</span>
            </button>
            <button class="elem" data-section="9">
                <span>И</span>
            </button>
            <button class="elem" data-section="10">
                <span>І</span>
            </button>
        </div>
    </div>

    <div class="filter_type">
        <p class="filter_head-text">Тип квартири:</p>
        <div class="type_button">
            <button class="bt first-type active" data-flor="1">
                <span class="icon"></span>
                <p class="bt_name">Однорівневі</p>
            </button>
            <button class="bt second-type" data-flor="2">
                <span class="icon"></span>
                <p class="bt_name">Дворівневі</p>
            </button>
        </div>
    </div>

    <div class="filter_room">
        <p class="filter_head-text">Кількість житлових кімнат:</p>
        <div class="room_count">
            <button class="rm room-1 active" data-room="1">
                <span>1</span>
            </button>
            <button class="rm room-2" data-room="2">
                <span>2</span>
            </button>
            <button class="rm room-3" data-room="3">
                <span>3</span>
            </button>
            <button class="rm room-4" data-room="4">
                <span>4</span>
            </button>
            <button class="rm room-5" data-room="5">
                <span>5</span>
            </button>
        </div>
    </div>

    <div class="filter_area">
        <p class="filter_head-text">Площа квартири:</p>
        <div class="area_slider">

            <div id="area_slider"></div>
            <span id="lower-value" class="sliderValue"></span>
            <span id="upper-value" class="sliderValue"></span>
        </div>

    </div>

    <div class="clean_button">Очистити фільтр</div>
</div>

<div class="min_filter">
    <a href="#" class="back_to-plans"><span></span> до генeрального плану</a>
    <h5 class="screen_header">Вибір планування</h5>

    <div class="filter_section">
        <p class="filter_head-text">Секція:</p>
        <div class="filter_grid">
            <button class="elem check active" data-section="1">
                <span>А</span>
            </button>
            <button class="elem check" data-section="2">
                <span>Б</span>
            </button>
            <button class="elem check" data-section="3">
                <span>В</span>
            </button>
            <button class="elem" data-section="4">
                <span>Г</span>
            </button>
            <button class="elem" data-section="5">
                <span>Д</span>
            </button>
            <button class="elem" data-section="6">
                <span>Е</span>
            </button>
            <button class="elem" data-section="7">
                <span>Ж</span>
            </button>
            <button class="elem" data-section="8">
                <span>З</span>
            </button>
            <button class="elem" data-section="9">
                <span>И</span>
            </button>
            <button class="elem" data-section="10">
                <span>І</span>
            </button>
        </div>
    </div>

    <div class="filter_type">
        <p class="filter_head-text">Тип квартири:</p>
        <div class="type_button">
            <button class="bt first-type active" data-flor="1">
                <span class="icon"></span>
                <p class="bt_name">Однорівневі</p>
            </button>
            <button class="bt second-type" data-flor="2">
                <span class="icon"></span>
                <p class="bt_name">Дворівневі</p>
            </button>
        </div>
    </div>
</div>
