<div class="imgblock_wrap">
    <div class="imgblock" style="background-image: url('')">
        <div class="hover-effect">
            <img class="imgblock-logo" src="/static/img/general/ml-logo.png" alt="">
            <div class="imgblock-info">
                Перша черга IV квартал 2018р
            </div>
            <div class="imgblock-yellow">
                Millenium State
            </div>
        </div>
    </div>
    <div class="imgblock" style="background-image: url('')">
        <div class="hover-effect">
            <img class="imgblock-logo" src="/static/img/general/ml-logo.png" alt="">
            <div class="imgblock-info">
                Перша черга IV квартал 2018р
            </div>
            <div class="imgblock-yellow">
                Millenium State
            </div>
        </div>
    </div>
    <div class="imgblock" style="background-image: url('')">
        <div class="hover-effect">
            <img class="imgblock-logo" src="/static/img/general/ml-logo.png" alt="">
            <div class="imgblock-info">
                Перша черга IV квартал 2018р
            </div>
            <div class="imgblock-yellow">
                Millenium State
            </div>
        </div>
    </div>
    <div class="imgblock" style="background-image: url('')">
        <div class="hover-effect">
            <img class="imgblock-logo" src="/static/img/general/ml-logo.png" alt="">
            <div class="imgblock-info">
                Перша черга IV квартал 2018р
            </div>
            <div class="imgblock-yellow">
                Millenium State
            </div>
        </div>
    </div>
    
</div>