<div class="garant_info">
    <div class="screen_header">
        R-building - <br>
        гарантія надійності
    </div>

    <div class="screen_subheader">
        R-building - забудовник, що гарантує
        надійність та якість.
    </div>
    <div class="screen_text">
        Компанія "Р-білдінг" завжди виконує всі взяті
        на себе зобов'язання з будівництва та введення
        в експлуатацію всіх наших об'єктів. Ще до здачі ЖК ми обов'язково підключаємо всі комунікації
        і облаштовуємо територію. Будьте впевнені - Ваш будинок буде зданий в строк, в належному стані.
    </div>

    {{> elements/link text='r-building.com.ua' link='#' class='screen_link'}}
</div>