<header class="header">
  <div class="header_wrap">
    <a href="/home.html" class="header_logo"></a>
    <div class="header_menu">
      <div class="menu_item">
        <a href="#" class='menu_item-link' >Про ЖК</a>
        <div class="menu_subitem">
          <a href="#" class='menu_subitem-link'>Концепція</a>
          <a href="#" class='menu_subitem-link'>Умови придбання</a>
        </div>
      </div>
      <div class="menu_item">
        <a href="#" class='menu_item-link' >Планування</a>
        <div class="menu_subitem">
          <a href="#" class='menu_subitem-link'>Комерційні</a>
          <a href="#" class='menu_subitem-link'>Житлові</a>
        </div>
      </div>
      <div class="menu_item">
        <a href="#" class='menu_item-link' >Забудовник</a>
      </div>
      <div class="menu_item">
        <a href="#" class='menu_item-link' >Документація</a>
      </div>
      <div class="menu_item">
        <a href="#" class='menu_item-link' >Контакти</a>
      </div>
    </div>
    <div class="menu_subitem-mob">
      <a class='back_link'>назад</a>
      <a href="#" class='menu_subitem-link'>Концепція</a>
      <a href="#" class='menu_subitem-link'>Умови придбання</a>
    </div>
    <div class="menu_subitem-mob2">
      <a class='back_link'>назад</a>
      <a href="#" class='menu_subitem-link'>Комерційні</a>
      <a href="#" class='menu_subitem-link'>Житлові</a>
    </div>
  </div>
  <button class="header_menu-button">
      <span class="line line-one"></span>
      <span class="line line-two"></span>
  </button>

</header>