.sliderV-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
  @include respond-to(m) {
    overflow: unset;
  }
  .one_slide {
    display: flex;
    //visibility: hidden;
    opacity: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    //transform: translateY(-120%);
    top: 0;
    left: 0;
    transition: all 1.5s ease;
    z-index: 1;
    overflow: hidden;
    &.active {
      z-index: 10;
      opacity: 1;
      //visibility: visible;
      //transform: translateY(0%);
    }
    .fade {
      transition: all 1s ease;
      //transform: translateY(-120%);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding-bottom: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;

    }
  }
  .white_block {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translateY(0%);
    background-color: $cl_white;
    transition: all 1s ease;
    //opacity: 0;
    &.show {
      transform: translateY(100%);
      //opacity: 1;
      @include respond-to(m) {
        transform: translateY(-100%);
      }
    }
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    right: 0;
    width: 94px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $cl_black;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    transform: rotate(90deg);
    z-index: 50;
    @include respond-to(dm) {
      width: 73px;
      height: 73px;
    }
    @include respond-to(m) {
      transform: rotate(0deg);
      top: calc(100% - 36px);
    }
  }
  .next {

    @include respond-to(m) {
      right: auto;
      left: 50%;

    }
    @include hover {
      padding-left: 15px;
      @include respond-to(t) {
        padding-left: 0px;
      }
    }
  }
  .prev {
    top: calc(50% - 73px);

    @include respond-to(m) {
      right: auto;
      left: calc(50% - 73px);
      top: calc(100% - 36px);

    }
    @include hover {
      padding-right: 15px;
      @include respond-to(t) {
        padding-right: 0px;
      }
    }
  }


}