<div class="second_home">
    <div class="screen_header">
      Філософія <br>
      Millennium State
      </div>
    <div class="screen_subheader">
      Разом із квартирою ми надаємо безпечне оточення і затишну сучасну територію. 
    </div>
    <div class="screen_text">
      Ми створюємо житловий комплекс нового покоління, де всі мешканці свідомимо беруть участь у підтриманні атмосфери безпеки і комфорту. 
    </div>

    {{> elements/button_y class='bottom-min_block' text='Концепція ЖК'}}
    <!--<div class="bottom-min_block2"></div>-->
</div>
