<a href="#" class="apr__link">
    <div class="apr_card">
        <div class="flor-icon"></div>
        <div class="apr_name">Однокімнатна <br/> квартира 1-А</div>
        <div class="card_info">
            <div class="param_section">
                <div class="title">Секція:</div>
                <div class="params">Г</div>
            </div>
            <div class="param_section">
                <div class="title">Поверх:</div>
                <div class="params">2 - 9</div>
            </div>
            <div class="param_section">
                <div class="title">Площа:</div>
                <div class="params">40,92 м <sup>2</sup></div>
            </div>
        </div>
        <div class="apr_img">
            <div class="hover_svg"></div>
            <img src="%=static=%img/content/apr/apr_1a.png" alt="">
        </div>
    </div>
</a>

