<div class="screen_header">
    Планування <br>
    квартир
</div>

<div class="genplan_table">
    <div class="coll col_l">
        <div class="col_item">Клас:</div>
        <div class="col_item">Секцій:</div>
        <div class="col_item">Поверхів:</div>
        <div class="col_item">Квартир:</div>
        <div class="col_item">Висота стелі:</div>
    </div>
    <div class="coll col_r">
        <div class="col_item">Комфорт</div>
        <div class="col_item">10</div>
        <div class="col_item">11</div>
        <div class="col_item">800</div>
        <div class="col_item">2,7 м</div>
    </div>
    {{> elements/button_y link="#" text="Обрати планування"}}
</div>

<!--{{> elements/button_y link="#" text="Обрати планування"}}-->